*{
    margin: 0;
    padding: 0;

}
*, *:before, *:after { box-sizing: border-box; }
ul {list-style-type: none;
    margin: 0;
    padding: 0;}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/ color: black;}

body
{
    display: flex;
    flex-direction: column;
    background-image: url(img/Background.png);
    background-attachment: scroll;
    background-position: center top;
    background-color: #0b0a0a;
    background-repeat: no-repeat;

}
html,body {
    height: 100%;
}

/* Header styles*/
.header-container
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-top: white 0.5px solid;
    border-bottom: white 0.5px solid;
    margin-top: 20px;
    height: 50px;
    align-items: center;
}
.navbar ul{
    display: flex;
    font-family: 'Metamorphous', cursive;
    font-size: 16px;

}
.navlogo {
    /*background-color: rgba(249,251,255,0.51);*/
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.navbar ul li a {
    color: #fff;
    padding: 13px 70px ;
}
.navbar ul li a:hover {
    background: rgba(32, 46, 71, 0.4);

}


#menu-checkbox{
    display: none;
}
.navlogo {
    padding-top: 10px;
}
/*End header styles*/

/* Content style*/

.main-container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.tab {
    width: 10px;
}
aside {
    border-radius: 10px 0 0 0px;
    width: 20%;
    background-color: rgba(186,186,186,0.5);
    /*height: fit-content;*/
}

.category {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Metamorphous;
    font-size: 16px;
}

.category p {
    justify-content: center;
    width: 200px;
}
.category a {

    padding-top: 10px;
    height: 50px;
}
aside .category a:hover {

    background-color: rgba(235, 175, 103, 0.3);
}
.main-content {

    width: 60%;
    background-color: rgba(27,25,23, 0.7);
    border-radius: 0 10px 0 0;


}

/*News-journal styles*/
.journal-box {
    font-family: 'Open Sans',sans-serif;
    margin: 15px 0 0 15px;
    border-radius: 10px;
    background: rgba(72,67,63,0.25);
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-basis: 240px;
    min-width: 230px;
    max-width: 300px;

}
.journal-item-img {
    border-radius: 10px 10px 0 0;
    height: 150px;
    width: 100%;
    position: initial;
    background-size:cover;
    background-position-x: 50%;
    cursor: pointer;
}
.journal-item-title {

    padding: 5px 0 0 15px;
}
.journal-item-title h3 {
    font-size: 15.5px;
    line-height: 22.5px;
    font-weight: 600;
}
.journal-item-title h3 a {
    color: #fff;
}
.journal-item-desc  {
    color: rgba(255,255,255,.5);
    padding: 13px 13px 95px;
}
.journal-item-info {
    font-size: 13.5px;
    color: rgba(255,255,255,.6);
    padding: 0 0 13px;

    width: 100%;
}
.journal-item-info-date {
    padding-bottom: 15px;
    margin: 13px;
    height: 20px;
    line-height: 10px;
    border-bottom: 1px solid rgba(255,255,255,.06);
}

.button-like /*.button-like-active*/ {
    display: block;
    margin-right: 13px;
    border-radius: 3px;
    background-image: url(img/assets/like-white.png);
    background-position: 11px 50%;
    background-size: 13px 13px;
    border: 1px solid #ff4d3b;
    background-color: #ff4d3b;
    color: rgba(255,255,255,1);
    user-select: none;
    background-repeat: no-repeat;
    height: 25px;
    min-width: 27px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    float: right;
}
.showing {
    float: left;
    font-size: 13.5px;
    color: #fff;
    padding-top: 3px;
}
.showing-views {
    margin-left: 13px;
    background-image: url(img/assets/showing__views.png);
    background-repeat: no-repeat;
    height: 23px;
    padding-left: 32px;
    float: left;
}
.showing-comments {
    margin-left: 13px;
    background-image: url(img/assets/showing__comments.png);
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 28px;
    float: left;
}

#idpages,#idpage1,#idpage2,#idpage3,#idpage4,#idpage5,
#idpage6,#idpage7,#idpage8,#idpage9,#idpage10 {
    display: flex;
    flex-wrap: wrap;
}   /*______All news-content direction_______*/

/*paginator styles*/
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
[data-pagination] {
    font-size: 8pt;
    line-height: 1;
    font-weight: 400;
    font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 1em auto;
    text-align: center;
    transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
    list-style-type: none;
    display: inline;
    font-size: 100%;
    margin: 0;
    padding: .5em;
}
[data-pagination] ul li {
    display: inline-block;
    font-size: 100%;
    width: auto;
    border-radius: 3px;
}
[data-pagination] > a {
    font-size: 140%;
}
[data-pagination] a {
    color: #777;
    font-size: 100%;
    padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
    color: #f60;
}
[data-pagination] li:active {
    background: rgba(0,0,0,.1)
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
    opacity: .5;
    pointer-events: none;
}

/*End content styles*/

header,main {
    flex: 1 0 auto;
}
footer {
    border-radius: 0 0 10px 10px ;
    background-color: #0b0a0a;
    flex: 0 0 auto;
    margin: 0 auto;
    width: 81%;

}
/*Footer style*/

.footer-content {
    display: flex;
    flex-direction: row;

    padding-top: 95px;
    padding-bottom: 105px;
}
.footer-navigation {
    display: flex;
    flex-direction: row;


}
.footer-logo {
    margin-left: 90px;
    margin-right: 150px;

}
.footer-logo img {

    height: 24px;
    width: 120px;
}
.footer-navigation-items {
    color: #ffffff;
}
.footer-navigation {

    font-family: 'Metamorphous', cursive;
    font-size: 16px;
}
.footer-navigation ul {
    display: flex;

    padding-right: 70px;
}
.footer-navigation ul li a {

    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}
.contact-logos {
    padding-left: 5%;
    display: flex;
    align-items: center;
    color: #fff;
}
.contact-logos-items {
    margin-bottom: 15px;
}
.contact-logos-items a span {
    padding-left: 10px;
    position: relative;
    color: #fff;
}
.footer-hr {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(34,34,34,1);
}
.footer-copyright-info {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.footer-copyright-info span {
    color: rgba(100,100,100,1);
}
/*End footer styles*/

/*About us page styles*/
.About-us {
    padding: 50px 100px;
    font-family: 'Poppins', sans-serif;
    color: rgba(200,200,200,0.9);
    text-align: center;
}
.About-us-header2 {
    font-size: 48px;
}
.About-us-header3 {
    font-size: 32px;
    padding-bottom: 30px;
}
.About-us-p {
    padding-top: 40px;
}

/*End about us page*/
/*Phone adaptive styles 420px*/
@media screen and ( max-width: 420px) {
    .header-container {
        width: 100%;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 250px;
        margin: 0 auto;
        display: block;
        font-size: 16px;
    }
    .navlogo {
        display: block;
        margin: 0 auto;

    }
    .main-menu li a {
        display: block;
        padding: 10px 40px;

    }
    .toggle-button {
        text-align: center;
        display: block;
        padding-right: 40px;
        cursor: pointer;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
        margin: 0 auto;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu  {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu li{

        width: 200px;
    }

    #menu-checkbox:checked + nav[role="navigation"] .toggle-button {
        content: attr(data-close);
        position: relative;
        top: 80px;
        right: -48px;
        width: 5px;
    }
    #menu-checkbox:checked + nav[role="navigation"] {
        width: 100px;
    }


    .header-container a {
        margin-right: -65px;
    }
    .main-menu {
        position: relative;
        top: 100px;
        right: 200px;
    }
    main {
        display: none;
    }
    footer {
        display: none;
    }
}


/*End 420px style*/
@media screen and (min-width: 420px) and (max-width: 1100px) {
    .navlogo {
        display: none;
    }
}

/*paginator responsive*/
@media (min-width: 350px) {
    [data-pagination] {
        font-size: 10pt;
    }
}
@media (min-width: 500px) {
    [data-pagination] {
        font-size: 12pt;
    }
}
@media (min-width: 700px) {
    [data-pagination] {
        font-size: 14pt;
    }
}
@media (min-width: 900px) {
    [data-pagination] {
        font-size: 16pt;
    }
}
/**************************/
/*
search {background: #DABB52;}
.search input, .d2 button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.search input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}
.search button {
    height: 26px;
    width: 26px;

    background: #F15B42;
    cursor: pointer;
}
.search button:before {
    content: "\f000";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}
*/
